<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vuthanhtung91244-001-site1.ltempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win1033.site4now.net:8172/msdeploy.axd?site=vuthanhtung91244-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>vuthanhtung91244-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>vuthanhtung91244-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QL_BAN_DO_UONGDb" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL1002.site4now.net;Initial Catalog=db_ac5b93_vuthanhtung91244;User ID=db_ac5b93_vuthanhtung91244_admin;Password=Vuthanhtung9124.;Encrypt=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BanDoUong_User.Models.QL_BAN_DO_UONGDb, BanDoUong_User" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QL_BAN_DO_UONGDb-Web.config Connection String">
      <ParameterValue>Data Source=SQL1002.site4now.net;Initial Catalog=db_ac5b93_vuthanhtung91244;User ID=db_ac5b93_vuthanhtung91244_admin;Password=Vuthanhtung9124.;Encrypt=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>